
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/main.css" />
    <title>Climate Solutions</title>
</head>
<body>
  <%- include('partials/navbar', {page: '/about'}) %>
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost sm:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" /></svg>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
              <li><a>Link</a></li>
              <li>
                <details>
                  <summary>
                    Parent
                  </summary>
                  <ul class="p-2 bg-base-100">
                    <li><a>Link 1</a></li>
                    <li><a>Link 2</a></li>
                  </ul>
                </details>
              </li>
            </ul>
          </div>
      </div>
      <div class="container mx-auto">
        <div class="hero bg-base-200 rounded-lg p-6">
            <div class="hero-content text-center">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold">About</h1>
                <p class="py-6">
                  All about me
                </p>
              </div>
            </div>
          </div>
      </div>
      <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
                <img src="https://img.pikbest.com/wp/202347/copy-space-3d-illustration-of-creative-brain-listening-to-music-with_9759698.jpg!w700wp" alt="A picture representing me" class="w-full rounded-lg shadow-lg">
            </div>
            <div>
                <h2 class="text-2xl font-bold text-orange-600">About Me</h2>
                    <p>
                        Hi, my name is Hitesh Sachdeva. I am currently pursuing Computer Programming
                        at Seneca Polytechnic. I love web development, and my aim is to become a full-stack
                        developer. My hobbies include listening to music and creating new beats. I usually
                        spend my leisure time on music development.
                    </p>
            </div>
        </div>
      </div>
</body>
</html>